@{
    ViewData["Title"] = "Home Page";
}

<div class="slider-area">
    <div class="slider-active owl-dot-style owl-carousel">
        <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image:url(/ClientTemplate/assets/img/slider/slider-1.jpg);">
            <div class="slider-content pt-100">
                <div class="slider-content-wrap slider-animated-1">
                    <h2 class="animated">Welcome to <span>Basmoti</span> Restaurant</h2>
                    <h1 class="animated"><span>Hot & spicy</span> food for you</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis,eu condimentum. lorem ipsum dolor. lorem ipsum dolor sit amt.</p>
                    <div class="slider-btn mt-20">
                        <a class="animated" href="product-details.html">read more</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slider bg-img height-100vh d-flex align-items-center justify-content-center" style="background-image:url(/ClientTemplate/assets/img/slider/slider-2.jpg);">
            <div class="slider-content pt-100">
                <div class="slider-content-wrap slider-animated-1">
                    <h2 class="animated">Welcome to <span>Basmoti</span> Restaurant</h2>
                    <h1 class="animated"><span>Basmoti</span> knows your taste</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque felis,eu condimentum. lorem ipsum dolor. lorem ipsum dolor sit amt.</p>
                    <div class="slider-btn mt-20">
                        <a class="animated" href="product-details.html">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="about-area ptb-95">
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-6">
                <div class="about-content pr-30">
                    <h2>About Basmoti Restaurant </h2>
                    <h3> Basmoti ensures healthy environment. Make a short trip. </h3>
                    <div class="about-peragraph">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget loved dost venenatis mauris finibus dictum. Vestibulum quis elit eget neque porttitor no amet dolor Proin pretium.</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget loved dost venenatis mauris finibus dictum.</p>
                        <div class="default-btn-style mt-35">
                            <a href="#">read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-img">
                    <img alt="" src="~/ClientTemplate/assets/img/banner/about.jpg">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="popular-product gray-bg pt-100 pb-100">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>Our Popular Dishes</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="product-slider-active owl-carousel">
            <div class="product-style-wrap">
                <img alt="" src="~/ClientTemplate/assets/img/product/pro-1.jpg">
                <div class="product-content text-center">
                    <h4>
                        Oldtimer with Cheese
                    </h4>
                    <p>Chicken meat which is breaded or battered, then deep.</p>
                    <span>$100.00</span>
                </div>
            </div>
            <div class="product-style-wrap">
                <img alt="" src="~/ClientTemplate/assets/img/product/pro-2.jpg">
                <div class="product-content text-center">
                    <h4>
                        Black Bean Fajitas
                    </h4>
                    <p>Chicken meat which is breaded or battered, then deep.</p>
                    <span>$200.00</span>
                </div>
            </div>
            <div class="product-style-wrap">
                <img alt="" src="~/ClientTemplate/assets/img/product/pro-3.jpg">
                <div class="product-content text-center">
                    <h4>
                        Chicken Nugget
                    </h4>
                    <p>Chicken meat which is breaded or battered, then deep.</p>
                    <span>$300.00</span>
                </div>
            </div>
            <div class="product-style-wrap">
                <img alt="" src="~/ClientTemplate/assets/img/product/pro-4.jpg">
                <div class="product-content text-center">
                    <h4>
                        Match Fajita Trio
                    </h4>
                    <p>Chicken meat which is breaded or battered, then deep.</p>
                    <span>$150.00</span>
                </div>
            </div>
            <div class="product-style-wrap">
                <img alt="" src="/ClientTemplate/assets/img/product/pro-1.jpg">
                <div class="product-content text-center">
                    <h4>
                        Match Fajita Trio
                    </h4>
                    <p>Chicken meat which is breaded or battered, then deep-fried or baked.</p>
                    <span>$50.00</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popular-bg-img">
        <img alt="" src="~/ClientTemplate/assets/img/banner/popular.png">
    </div>
</div>


<div class="book-table ptb-100 bg-img" id="book" style="background-image:url(/ClientTemplate/assets/img/banner/book-a-table.jpg);">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>book a table</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="reserve-form">
                    <h3 class="reserv-title">Reservation Form</h3>
                    <form action="#">
                        <div class="reserve-form-top">
                            <input type="text" placeholder="Full name">
                            <input type="email" placeholder="Email address">
                            <input type="text" placeholder="Mobile number">
                            <div class="date-time">
                                <select>
                                    <option selected="">Select Date And Time</option>
                                    <option>26 Dec - 10.00pm</option>
                                    <option>2 Jan - 10.00pm</option>
                                    <option>17 Dec - 10.00pm</option>
                                </select>
                            </div>
                        </div>
                        <div class="reserve-submit mt-40">
                            <button type="submit"> submit </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="book-img">
                    <img src="~/ClientTemplate/assets/img/banner/table.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="testimonial-area ptb-100 gray-bg">
    <div class="container">
        <div class="section-title text-center mb-50">
            <h2>what people say</h2>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim nostrud exercitation ullamco laboris nisi.</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="testimonial-image-slider text-center">
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                    <div class="single-testi-text">
                        <p>The point of using Lorem Ipsum is that more-or-less normal distribution of letters, as opposed to using</p>
                    </div>
                </div>
                <div class="testimonial-text-slider text-center">
                    <div class="single-testi-img">
                        <img src="~/ClientTemplate/assets/img/team/tesi-1.png" alt="testi 1" />
                        <h3>William Patel</h3>
                        <h5>customer</h5>
                    </div>
                    <div class="single-testi-img">
                        <img src="~/ClientTemplate/assets/img/team/tesi-2.png" alt="testi 1" />
                        <h3>Diane Walsh</h3>
                        <h5>customer</h5>
                    </div>
                    <div class="single-testi-img">
                        <img src="~/ClientTemplate/assets/img/team/tesi-1.png" alt="testi 1" />
                        <h3>Carl Carr</h3>
                        <h5>customer</h5>
                    </div>
                    <div class="single-testi-img">
                        <img src="~/ClientTemplate/assets/img/team/tesi-2.png" alt="testi 1" />
                        <h3>Linda Nelson</h3>
                        <h5>customer</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="offer-area gray-bg ptb-100 bg-img" style="background-image:url(/ClientTemplate/assets/img/banner/offer.jpg);">
    <div class="container">
        <div class="row">
            <div class="xl-auto col-xl-5 ms-auto col-lg-6 col-md-12">
                <div class="offer-content">
                    <h5>Exclusive Offer -20% Off This Week</h5>
                    <h2>Milk Vanilla Ice Cream</h2>
                    <p>Lorem ipsum Newaz dolor sit amet, consectetur adipiscing elit. Donec aliquet dolor libero, eget loved dost venenatis maurisfinibus dictumss. Vestibulum quis elit eget neque porttitor no amet dolor. </p>
                    <div class="default-btn-style book-btn mt-35">
                        <a class="scroll-up" href="#book">Book Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="brand-logo-area ptb-100">
    <div class="container">
        <div class="brand-logo-active owl-carousel">
            <div class="single-brand-logo">
                <img alt="" src="~/ClientTemplate/assets/img/brand-logo/1.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientTemplate/assets/img/brand-logo/2.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientTemplate/assets/img/brand-logo/3.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientTemplate/assets/img/brand-logo/4.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientTemplate/assets/img/brand-logo/5.png">
            </div>
            <div class="single-brand-logo">
                <img alt="" src="~/ClientTemplate/assets/img/brand-logo/2.png">
            </div>
        </div>
    </div>
</div>
